

body{
	/* width: 100%; */
	box-sizing: border-box;
}

.text-logo{
    
    font-family: 'Raleway', sans-serif;
}

.navlist{
    direction: rtl;
    
}

.navitemlist{
    
}
.navbar-item{
    text-decoration: none;
}

.rav-link{
    font-family: 'Ubuntu', sans-serif;
}

.rav-link:hover{
    text-decoration: none;
}

.no_dec_link{
	text-decoration: none;
}

.no_dec_link:hover{
	text-decoration: none;
}


footer{
	border-top: 1px solid rgb(44, 44, 51);
}
/* .display-to-md-none{
	display: none;
}

@media (min-width:48em) {
	.display-to-md-none{
		display: block;
	}
}

.content-block-25{
	flex:25%;
	border: 1px solid red;
	min-width: 15em;
	max-height: 100%;
} 


 .content-section{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-evenly; 
}*/

.row{
	margin: 0px;
	padding: 1px;
}

.col-3{
	margin: 0px;
	padding: 0px;
}

.fit-content{
	max-width: 100%;
	height: auto;
}

.no-padding{
	padding: 0px;
	margin: 0px;
}

.center-content{
	justify-content: center;
}